#yemma-img {
  height: 150px;
}

#yemma-title {
  font-size: 25px;
  color: #3b4151;
}

.text-bold {
  font-weight: 700;
}

.realm-div {
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(202, 84, 224);
  border-width: 1px;
  background: rgba(202, 84, 224, 0.15);
  margin-bottom: 15px;
}

.realm-title-div {
  padding: 10px;
}

.realm-title-span {
  background: rgb(202, 84, 224);
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-size: 20px;
  border-radius: 3px;
}

.separator-div {
  background: rgb(202, 84, 224);
  height: 1px;
}

.instance-title-div {
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
}

.title-span {
  font-size: 16px;
  color: #3b4151;
}

.subtitle-span {
  font-size: 14px;
  color: #3b4151;
}

.instance-div {
  padding-bottom: 0px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 15px;
}

.instance-info-div {
  padding-bottom: 10px;
}

.instance-info-key-span {
  display: inline-block;
  width: 35%;
}
