<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <img src="assets/images/king_yemma.png">
      <p class="title">Yemma Dashboard</p>
    </div>
  </div>
  <div *ngFor="let realm of this.registry.realms()">
    <div class="row">
      <h1 class="col-xs-12 col-md-12 col-lg-12">{{ realm }}</h1>
    </div>
    <div class="row">
      <div *ngFor="let instance of this.registry.forRealm(realm)">
        <div class="col-xs-12 col-md-6 col-lg-3">
          <p>Serveur: {{ instance.address }}:{{ instance.port }}</p>
          <p>Timeout: {{ instance.timeout }}</p>
          <p>Token: {{ instance.access_token }}</p>
          <p>Ttl: {{ instance.ttl }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
