#yemma-img {
  height: 150px;
}

#yemma-title {
  font-size: 25px;
  color: #3b4151;
}

#port-help {
  color: #3b4151;
}

.text-bold {
  font-weight: 700;
}

.login-form {
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(202, 84, 224);
  border-width: 1px;
  background: rgba(202, 84, 224, 0.15);
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 70%;
  padding: 10px;
}

.submit-button {
  background-color: rgb(202, 84, 224);
  border-color: rgb(202, 84, 224);
  cursor: pointer;
}
