<div class="container">
  <div class="text-center">
    <img id="yemma-img" src="assets/images/king_yemma.png">
    <p id="yemma-title" class="text-bold">Yemma Dashboard <img src="assets/images/logout.png" id="logout-img" (click)="onDisconnect()"></p>
  </div>
  <div *ngIf="this.registry; else loadRealms">
    <div *ngIf="this.registry.instances; else noRealm">
      <div class="realm-div" *ngFor="let realm of this.registry.realms">
        <div class="realm-title-div">
          <span class="realm-title-span text-bold">{{ realm.toString() }}</span>
        </div>
        <div *ngFor="let instance of this.registry.instances[realm]">
          <div class="separator-div"></div>
          <div class="instance-title-div">
            <span class="title-span text-bold">Instance:</span>
            <span class="title-span">{{ instance.address }}:{{ instance.port }}</span>
          </div>
          <div class="separator-div"></div>
          <div class="instance-div">
            <div class="instance-info-div">
              <span class="instance-info-key-span subtitle-span text-bold">Timeout</span>
              <span class="subtitle-span">{{ instance.timeout }}</span>
            </div>
            <div class="instance-info-div">
              <span class="instance-info-key-span subtitle-span text-bold">Access Token</span>
              <span class="subtitle-span">{{ instance.access_token }}</span>
            </div>
            <div class="instance-info-div">
              <span class="instance-info-key-span subtitle-span text-bold">TTL</span>
              <span class="subtitle-span">{{ instance.ttl }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loadRealms>
    <div class="text-center" *ngIf="this.registryError != true; else errorRealm">
      <span class="subtitle-span">Loading realms in progress...</span>
    </div>
  </ng-template>
  <ng-template #errorRealm>
    <div class="text-center">
      <span class="subtitle-span">Cannot reach registry service</span>
    </div>
  </ng-template>
  <ng-template #noRealm>
    <div class="text-center">
      <span class="subtitle-span">No realm / instance registered</span>
    </div>
  </ng-template>
</div>
