<div *ngIf="this.registry; else loading">
    <div *ngIf="this.registry.realms.length > 0; else noInstance">
        <div class="row realm-search">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-search" type="button"><i class="fa fa-search"></i> Search</button>
                  </span>
                    <input class="form-control" [(ngModel)]="searchText" id="input1-group2" name="input1-group2"
                           placeholder="Search for a realm" type="text">
                </div>
            </div>
        </div>

        <div class="row" *ngFor="let realm of this.registry.realms | filter: searchText">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-server"></i> {{realm}}
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                            <tr>
                                <th>Address</th>
                                <th>Port</th>
                                <th>Subscription Date</th>
                                <th>Last Update</th>
                                <th>Access Token</th>
                                <th>Timeout (ms)</th>
                                <th>TTL</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr *ngFor="let instance of this.registry.instances[realm]">
                                <td>{{instance.address}}</td>
                                <td>{{instance.port}}</td>
                                <td>{{instance.created_at | amTimeAgo}}</td>
                                <td>{{instance.updated_at | amTimeAgo}}</td>
                                <td>{{instance.access_token}}</td>
                                <td>{{instance.timeout}}</td>
                                <td>{{instance.ttl}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
</ng-template>

<ng-template #noInstance>
    <div class="row dashboard-no-instance">
        <div class="col-12">
            Empty Registry...
        </div>
    </div>
</ng-template>
