.sk-cube-grid {
  .sk-cube {
    background-color: #564766;
  }
}

.dashboard-no-instance {
  text-align: center;
}

.realm-search {
  margin-bottom: 10px;
}

.btn-search {
  color: $white;
  background-color: #564766;
}

.table-bordered thead th {
  background-color: #2f2836;
  color: white;
  border-bottom-width: 1px;
}
